<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />

    <script src="/static/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js" ></script>
    <script src="/static/bootstrap-table/bootstrap-table.js" ></script>
    <script src="/static/bootstrap-table/locale/bootstrap-table-en-US.min.js" ></script>
    <script src="/static/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js" ></script>
    {% comment %} 导出excel表格设置 {% endcomment %}
    <script src="/static/bootstrap-table/extensions/export/bootstrap-table-export.js" ></script>
    <script type="text/javascript" src="/static/tableExport/libs/js-xlsx/xlsx.core.min.js"></script>
    <script type="text/javascript" src="/static/tableExport/libs/FileSaver/FileSaver.min.js"></script>
    <script type="text/javascript" src="/static/tableExport/tableExport.js"></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>

 
    <title>PID Device List</title>
</head>
<body>
<div class="row">
{#    网页大标题开始#}
      <div class="col-md-8">
        <h1 class="text-center">PID Device List</h1>
      </div>
{#    网页大标题结束#}
{#    上传excel开始的地方#}

    <div class="col-md-4">
        <form method="post" action="/" enctype="multipart/form-data" id="videoForm">
        <div class="form-group">
            <label for="exampleInputFile">Export EXCEL</label>
            <input type="file" id="exampleInputFile" name="excelfile">
         </div>
        <button  type="submit" class="btn btn-default">Submit</button>
        <span><font color="red">{{ msg | default_if_none:"" }} </font></span>
        </form>
    </div>

{#    上传excel结束的地方#}

{#    搜索开始的地方#}
     <div style="margin: 20px;" class="col-xs-6 ">
        <input type="text" id="inputsearch" class="form-control" style="width: 20%; float: left">
        <span id="search"><button class="btn btn-default" type="button">search</button></span>
    </div>
{#    搜索结束的地方#}
</div >

<div id="toolbar"></div>
<table id="tb_user">
</table>
<script>

    {% comment %} 按F5不会提交表单 {% endcomment %}
     if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }
function DoOnMsoNumberFormat(cell, row, col) {
      console.log(cell)
      console.log(row)
      console.log(col)
        var result = "";
        if (row > 0 && col == 0)
            result = "\\@";
        return result;
    }
function GetStatus(tag) {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=' + tag,
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }

    var tmp1 = GetStatus(1);
    var tmp2 = GetStatus(2);
    var tmp3 = GetStatus(3);
    var tmp4 = GetStatus(4);

   $(function () {
        $("#tb_user").bootstrapTable({
            toolbar: "#toolbar",
            idField: "id",
            striped : false, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'client',//server:服务器端分页|client：前端分页
            pageSize : 20,//单页记录数
            pageList : [ 5, 10, 20, 30 ,50],//可选择单页记录数
            sortable: true,                     //是否启用排序
            sortOrder: "desc",                   //排序方式
            showRefresh: false,                  // 刷新按钮
            showColumns: true,                 // 是否显示所有列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            search: false,                       // 显示搜索
            searchOnEnterKey:true,              // 回车执行搜索
            clickToSelect: false,               // 点击选中
        //>>>>>>>>>>>>>>导出excel表格设置
            showExport: true,              //是否显示导出按钮
            buttonsAlign:"right",  //按钮位置
            exportDataType: "selected",              //basic', 'all', 'selected'.
            exportTypes:['excel'],	    //导出类型
            //exportButton: $('#btn_export'),     //为按钮btn_export  绑定导出事件  自定义导出按钮(可以不用)
            exportOptions:{  
                ignoreColumn: [0,-1],            //忽略某一列的索引  
                fileName: 'export',              //文件名称设置  
                worksheetName: 'Sheet1',          //表格工作区名称  
                tableName: 'export',  
                excelstyles: ['background-color', 'color', 'font-size', 'font-weight'],  
                onMsoNumberFormat: DoOnMsoNumberFormat,
            },
            //导出excel表格设置<<<<<<<<<<<<<<<<




            queryParams: function (params) {
               var temp = {
                        inputsearch: $("#inputsearch").val(),
                        limit: params.limit, // 每页显示数量
                        offset: params.offset, // SQL语句起始索引
                    };
                    return temp;
            },
            

            url: "/devices",
            async: true,
            columns: [{
                checkbox: true
            }, {
                field: "sn",
                title: "sn",
                editable: {
                    type: 'text',
                    title: 'sn',
                }
            }, {
                field: "bcode",
                title: "bcode",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "category_id",
                title: "category",
                editable: {
                    type: 'select',
                    title: 'category',
                    source: tmp1,}
            }, {
                field: "status_id",
                title: "status",
                editable: {
                    type: 'select',
                    title: 'status',
                    source:   tmp2,    }             
            }, {
                field: "actual_user",
                title: "actual_user ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "borrow_wwid",
                title: "borrow_wwid ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            },
                {
                field: "update_at",
                title: "update",
            },  {
                field: "location_id",
                title: "location",
                editable: {
                    type: 'select',
                    title: 'location',
                    source: tmp3,}
            }, {
                field: "comments",
                title: "details",
                editable: {
                    type: 'textarea',
                    title: 'bcode',
                }
            },{
                field: "project_id",
                title: "project",
                editable: {
                    type: 'select',
                    title: 'project',
                    source: tmp4,
                }
            }, 
                {
                field: "po",
                title: "po#",
            },{
                field: "po_requestor",
                title: "po_requestor ",
            },
            {
                    title: 'history user',
                    align: 'center',
                    formatter: function (value, row, index) {
                        var actions = [];
                        var href_url = "/history/" + row.id;
                        actions.push('<a class="btn btn-success btn-xs" href='+ href_url  + ' target="_blank" ><i class="fa fa-edit"></i>detail</a>');
                        return actions.join('');
                    }
                }
            ],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/edit",
                    data: row,
                    dataType: 'JSON',
                    async: true,
                    success: function (data, status) {
                        if (status == "success") {
                            console.log('提交数据成功');
                         $("#tb_user").bootstrapTable('refresh',data);
                        }
                    },
                    error: function (data) {
                        console.log('编辑失败');
                    },
                    complete: function () {

                    }

                });
            },

        });
        $('#search').click(function() {
                $('#tb_user').bootstrapTable('refresh', {
                    url: "/devices",
                    async: true,
                });
            })

      



    });
</script>
</body>
</html> 
