<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />

    <script src="/static/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js" ></script>
    <script src="/static/bootstrap-table/bootstrap-table.min.js" ></script>
    <script src="/static/bootstrap-table/locale/bootstrap-table-en-US.min.js" ></script>
    <script src="/static/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js" ></script>
    <title>test</title>
</head>
<body>
<div class="row">
      <div class="col-xs-6 col-md-4">
        <h1 class="text-center">PID Device List</h1>
      </div>
     <div class="col-xs-6 col-md-4 ">
        <p class="text-left">Export EXCEL.</p>
        <input type="file" name="txt_file" id="txt_file" multiple class="file-loading " />
      </div>
    </div>



<div id="toolbar"></div>
<table id="tb_user">
</table>

<script>
  $(function () {
        $("#tb_user").bootstrapTable({
            toolbar: "#toolbar",
            idField: "Id",
            striped : false, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'client',//server:服务器端分页|client：前端分页
            pageSize : 2,//单页记录数
            pageList : [ 5, 10, 20, 30 ,50],//可选择单页记录数
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            showRefresh: false,
            search: true,
            clickToSelect: true,
            queryParams: function (param) {
                return {};
            },
            url: "/all",
            columns: [{
                checkbox: true
            }, {
                field: "sn",
                title: "sn",
                editable: {
                    type: 'text',
                    title: 'sn',
                }
            }, {
                field: "bcode",
                title: "bcode",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "category_id",
                title: "category",
                editable: {
                    type: 'select',
                    title: 'category',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=2',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                console.log(data)
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            },{
                field: "update_at",
                title: "update",
            },


            ],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "",
                    data: row,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            console.log('提交数据成功');
                        }
                    },
                    error: function () {
                        console.log('编辑失败');
                    },
                    complete: function () {

                    }

                });
            }
        });
    });
</script>
</body>
</html>