<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />

    <script src="/static/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js" ></script>
    <script src="/static/bootstrap-table/bootstrap-table.min.js" ></script>
    <script src="/static/bootstrap-table/locale/bootstrap-table-en-US.min.js" ></script>
    <script src="/static/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>


    <title>PID Device List</title>
</head>
<body>
<div class="row">
      <div class="col-xs-6 col-md-4">
        <h1 class="text-center">PID Device List</h1>
      </div>

     <div class="col-xs-6 col-md-4 ">
        <p class="text-left">Export EXCEL.</p>
        <input type="file" name="txt_file" id="txt_file" multiple class="file-loading" />
      </div>
</div>


<div id="toolbar"></div>

<table id="tb_user">
</table>

<script src="/static/main.js"></script>
<script>
   $(function () {
        $("#tb_user").bootstrapTable({
            toolbar: "#toolbar",
            idField: "Id",
            striped : true, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'client',//server:服务器端分页|client：前端分页
            pageSize : 20,//单页记录数
            pageList : [ 5, 10, 20, 30 ,50],//可选择单页记录数
            sortable: true,                     //是否启用排序
            sortOrder: "asc",                   //排序方式
            showRefresh: true,
            showColumns: true,                 // 是否显示所有列
             showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            search: true,
            clickToSelect: true,
            queryParams: function (param) {
                queryParamsType = 'search'
                return {
                    memberId: $("#searchString_id").val()
                };
            },
            url: "/all",
            columns: [{
                checkbox: true
            }, {
                field: "sn",
                title: "sn",
                editable: {
                    type: 'text',
                    title: 'sn',
                }
            }, {
                field: "bcode",
                title: "bcode",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "category_id",
                title: "category",
                editable: {
                    type: 'select',
                    title: 'category',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=1',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "status_id",
                title: "status",
                editable: {
                    type: 'select',
                    title: 'status',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=2',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "actual_user",
                title: "actual_user ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "borrow_wwid",
                title: "borrow_wwid ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            },
                {
                field: "update_at",
                title: "update",
            },  {
                field: "location_id",
                title: "location",
                editable: {
                    type: 'select',
                    title: 'location',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=3',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "comments",
                title: "details",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            },{
                field: "project_id",
                title: "project",
                editable: {
                    type: 'select',
                    title: 'project',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=4',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, 
                {
                field: "po",
                title: "po#",
            },{
                field: "po_requestor",
                title: "po_requestor ",
            }
              
            ],
            onEditableSave: function (field, row, oldValue, $el) {
                console.log(field);
                console.log(row);
                console.log(oldValue);
                $.ajax({
                    type: "post",
                    url: "/edit",
                    data: row,
                    dataType: 'JSON',
                    success: function (data, status) {
                            console.log(data, status);

                        if (status == "success") {
                            console.log('提交数据成功');
                        }
                    },
                    error: function (data) {
                        console.log('编辑失败');
                    },
                    complete: function () {

                    }

                });
            }
        });
    });
</script>
</body>
</html>