<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link href="/static/bootstrap-3.3.7-dist/css/bootstrap.min.css" rel="stylesheet" type="text/css" />
    <link href="/static/x-editable/bootstrap3-editable/css/bootstrap-editable.css" rel="stylesheet" type="text/css" />
    <link href="/static/bootstrap-table/bootstrap-table.css" rel="stylesheet" type="text/css" />

    <script src="/static/jquery/jquery-3.5.1.min.js"></script>
    <script src="/static/bootstrap-3.3.7-dist/js/bootstrap.min.js"></script>
    <script src="/static/x-editable/bootstrap3-editable/js/bootstrap-editable.min.js" ></script>
    <script src="/static/bootstrap-table/bootstrap-table.js" ></script>
    <script src="/static/bootstrap-table/locale/bootstrap-table-en-US.min.js" ></script>
    <script src="/static/bootstrap-table/extensions/editable/bootstrap-table-editable.min.js" ></script>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-fileinput/5.1.3/js/fileinput.min.js"></script>

 
    <title>PID Device List</title>
</head>
<body>
<div class="row">
{#    网页大标题开始#}
      <div class="col-md-8">
        <h1 class="text-center">PID Device List</h1>
      </div>
{#    网页大标题结束#}
{#    上传excel开始的地方#}

    <div class="col-md-4">
        <form method="post" action="/" enctype="multipart/form-data" id="videoForm">
        <div class="form-group">
            <label for="exampleInputFile">Export EXCEL</label>
            <input type="file" id="exampleInputFile" name="excelfile">
         </div>
        <button  type="submit" class="btn btn-default">Submit</button>
        <span><font color="red">{{ msg | default_if_none:"" }} </font></span>
        </form>
    </div>

{#    上传excel结束的地方#}

{#    搜索开始的地方#}
     <div style="margin: 20px;" class="col-xs-6 ">
        <input type="text" id="inputsearch" class="form-control" style="width: 20%; float: left">
        <span id="search"><button class="btn btn-default" type="button">search</button></span>
    </div>
{#    搜索结束的地方#}
</div >

<div id="toolbar"></div>
<table id="tb_user">
</table>
<script src="/static/main.js"></script>
<script>

    {% comment %} 按F5不会提交表单 {% endcomment %}
     if ( window.history.replaceState ) {
                window.history.replaceState( null, null, window.location.href );
            }

   $(function () {
        $("#tb_user").bootstrapTable({
            toolbar: "#toolbar",
            idField: "id",
            striped : false, //是否显示行间隔色
            pageNumber : 1, //初始化加载第一页
            pagination : true,//是否分页
            sidePagination : 'client',//server:服务器端分页|client：前端分页
            pageSize : 20,//单页记录数
            pageList : [ 5, 10, 20, 30 ,50],//可选择单页记录数
            sortable: true,                     //是否启用排序
            sortOrder: "desc",                   //排序方式
            showRefresh: false,                  // 刷新按钮
            showColumns: true,                 // 是否显示所有列
            showToggle:true,                    //是否显示详细视图和列表视图的切换按钮
            search: false,                       // 显示搜索
            searchOnEnterKey:true,              // 回车执行搜索
            clickToSelect: false,               // 点击选中
            queryParams: function (params) {
               var temp = {
                        inputsearch: $("#inputsearch").val(),
                        limit: params.limit, // 每页显示数量
                        offset: params.offset, // SQL语句起始索引
                    };
                    return temp;
            },

            url: "/devices",
            columns: [{
                checkbox: true
            }, {
                field: "sn",
                title: "sn",
                editable: {
                    type: 'text',
                    title: 'sn',
                }
            }, {
                field: "bcode",
                title: "bcode",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "category_id",
                title: "category",
                editable: {
                    type: 'select',
                    title: 'category',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=1',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "status_id",
                title: "status",
                editable: {
                    type: 'select',
                    title: 'status',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=2',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "actual_user",
                title: "actual_user ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            }, {
                field: "borrow_wwid",
                title: "borrow_wwid ",
                editable: {
                    type: 'text',
                    title: 'bcode',
                }
            },
                {
                field: "update_at",
                title: "update",
            },  {
                field: "location_id",
                title: "location",
                editable: {
                    type: 'select',
                    title: 'location',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=3',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, {
                field: "comments",
                title: "details",
                editable: {
                    type: 'textarea',
                    title: 'bcode',
                }
            },{
                field: "project_id",
                title: "project",
                editable: {
                    type: 'select',
                    title: 'project',
                    source: function () {
                        var result = [];
                        $.ajax({
                            url: '/status?tag=4',
                            async: false,
                            type: "get",
                            data: {},
                            success: function (data, status) {
                                $.each(data, function (key, value) {
                                    result.push({ value: value.id, text: value.name });
                                });
                            }
                        });
                        return result;
                    }
                }
            }, 
                {
                field: "po",
                title: "po#",
            },{
                field: "po_requestor",
                title: "po_requestor ",
            }
            ],
            onEditableSave: function (field, row, oldValue, $el) {
                $.ajax({
                    type: "post",
                    url: "/edit",
                    data: row,
                    dataType: 'JSON',
                    success: function (data, status) {
                        if (status == "success") {
                            console.log('提交数据成功');
                         $("#tb_user").bootstrapTable('refresh',data);
                        }
                    },
                    error: function (data) {
                        console.log('编辑失败');
                    },
                    complete: function () {

                    }

                });
            },

        });
        $('#search').click(function() {
                $('#tb_user').bootstrapTable('refresh', {
                    url: "/devices"
                });
            })

    });
</script>
</body>
</html> 